@media all {
    /* Grid-Zeugs */
    .grid-container {
        display: grid;
        grid-template-rows: repeat(2, 50%);
        grid-template-columns: repeat(2, 50%);

        width: 100vW;
        height: 100vH;
        scroll-behavior: smooth;

        font-family: 'Oswald', sans-serif;

    }

    .grid-item {
        width: 100%;
        height: 100%;

        transition: all 200ms ease-out;
    }

    .grid-item header {
        font-size: 35px;
    }

    .grid-item:not(#ueberMich) {
        cursor: pointer
    }

    #ueberMich {
        grid-row: 1/span 1;
        grid-column: 1/span 1;

        background: #ffee55;
        color: #210c65;
        text-align: center;

        transition: all 2000ms;
    }

    #ueberMich:hover {
        transform: rotateY(180deg);
    }

    #vita {
        grid-row: 1/span 1;
        grid-column: 2/span 1;

        background: #A2A3B3;
    }

    #vita:hover {
        background: #1E39EB;
    }

    #portfolio {
        grid-row: 2/span 1;
        grid-column: 2/span 1;

        background: #686973;
    }

    #portfolio:hover {
        background: #1E58D6;
    }

    #kontakte {
        grid-row: 2/span 1;
        grid-column: 1/span 1;

        background: #5D5D66;
    }

    #kontakte:hover {
        background: #1887F5;
    }

    /* Flex-Zeugs */
    .flexbox {
        display: flex;

        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    /* Flipcard-Zeugs */
    .flipcard {}

    /* Kachel 1 */
    #ueberMich article {
        font-size: 20px;
    }

    #ueberMich article ul {
        list-style: none;
    }

    /* Kachel 2 */
    .grid-item:not(#ueberMich):hover {
        color: white;
    }
}
