@media all {
    /* Grid-Zeugs */
    .tile-grid {
        display: grid;
        grid-template-rows: 50% auto;
        grid-template-columns: 50% auto;

        width: 100vW;
        height: 100vH;
        scroll-behavior: smooth;

        font-family: 'Oswald', sans-serif;
    }

    .tile-grid-item {
        width: 100%;
        height: 100%;

        cursor: pointer;
        transition: all 200ms ease-out;
    }

    .tile-grid-item header {
        font-size: 35px;
    }

    #ueberMich {
        grid-row: 1/span 1;
        grid-column: 1/span 1;

        background: #ffee55;
        color: #210c65;
        text-align: center;
    }

    #vita {
        grid-row: 1/span 1;
        grid-column: 2/span 1;

        background: #A2A3B3;
    }

    #vita:hover {
        background: #1E39EB;
    }

    #portfolio {
        grid-row: 2/span 1;
        grid-column: 2/span 1;

        background: #686973;
    }

    #portfolio:hover {
        background: #1E58D6;
    }

    #kontakte {
        grid-row: 2/span 1;
        grid-column: 1/span 1;

        background: #5D5D66;
    }

    #kontakte:hover {
        background: #1887F5;
    }

    /* Flex-Zeugs */
    .flexbox {
        display: flex;

        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    /* Flipcard-Zeugs */
    .flipcard-inner {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .flipcard-front, .flipcard-back {
        position: absolute;

        transition: all 2000ms;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flipcard-front {
        transform: rotateY(0deg);
    }

    .flipcard-inner:hover .flipcard-front {
        transform: rotateY(180deg);
    }

    .flipcard-back {
        transform: rotateY(180deg);
    }

    .flipcard-inner:hover .flipcard-back {
        transform: rotateY(0deg);
    }

    /* Kachel 1 */
    #ueberMich article {
        font-size: 20px;
    }

    #ueberMich article ul {
        list-style: none;
    }

    /* Kachel 2 */
    .tile-grid-item:not(#ueberMich):hover {
        color: white;
    }
}
