@media all {
    .flipcard-inner {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .flipcard-front, .flipcard-back {
        position: absolute;

        transition: all 700ms;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flipcard-front {
        transform: rotateY(0deg);
    }

    .flipcard-inner:hover .flipcard-front {
        transform: rotateY(180deg);
    }

    .flipcard-back {
        transform: rotateY(180deg);
    }

    .flipcard-inner:hover .flipcard-back {
        transform: rotateY(0deg);
    }
}