@media all {
    /*
     * Grid-Zeugs
     */
    .tile-grid {
        display: grid;
        grid-template-rows: 50% auto;
        grid-template-columns: 50% auto;

        width: 100vW;
        height: 100vH;
        scroll-behavior: smooth;

        font-family: 'Oswald', sans-serif;
    }

    .tile-grid-item {
        width: 100%;
        height: 100%;

        cursor: pointer;
        transition: all 200ms ease-out;
    }

    .tile-grid-item header {
        font-size: 35px;
    }

    .tile-grid-item > a {
        width: 100%;
        height: 100%;
        color: inherit;
        text-decoration: none;
    }

    .tile-grid-item:hover > a {
        color: white;
    }

    #tile-ueberMich {
        grid-row: 1/span 1;
        grid-column: 1/span 1;
    }

    #tile-vita {
        grid-row: 1/span 1;
        grid-column: 2/span 1;
    }

    #tile-portfolio {
        grid-row: 2/span 1;
        grid-column: 2/span 1;
    }






}